.profil_border{
    border: 4px solid rgb(168, 168, 168);
    border-radius: 50%;
    display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profil{
    border-radius: 50%;
}