*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    background-color: black;
}

body{
    min-height: 100vh;
}

.hero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
}

h1{
    font-size: 60px;
    font-family: 'Peralta', sans-serif;
}

h2{
    margin-top: 30px;
    margin-bottom: 30px;
}
@media (max-width: 600px) {
    
    .hero{
        margin: 100px;
        min-height: initial;
    }
    h1{
        text-align: center;
        margin: 20px;
        font-size: 30px;
    }
}